*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Saira Extra Condensed', sans-serif;
}

html, body{
	height: 100%;
}

.parent{
	display: flex;
}

.sidebar{
	width: 20%;
	height: 100%;
	position: fixed;
	background-color: #4DA9ED;
}

.sidebar-pos{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.img-sidebar{
	text-align: center;
}

.img-sidebar img{
	width: 80%;
	max-width: 100%;
	border: 8px solid #B3DDED;
	border-radius: 50%;
}

.menu{
	margin: 20px 0;
	text-align: center;
	position: relative;
	/*left: -20px;*/
}

.menu a{
	color: white;
	opacity: 0.4;
	font-size: 20px;
	display: block;
	margin-bottom: 20px;
	text-decoration: none;
}

.menu a.selected{
	opacity: 1;
}


.content{
	position: absolute;
	left: 20%;
	width: 80%;
	height: 100%;
	overflow-y: auto;
	padding: 0 3%;
}

section.descricao{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

section.descricao h2{
	color: #343a40;
	font-size:40px;

}

section.descricao h2 > span{
	color: #3D93BA;
}

section.descricao h3{
	margin: 15px 0;
	color: #343a40;
	font-size:26px;

}

section.descricao h3 > span{
	color: #3D93BA;
}

section.descricao p{
	color: #343a40;
	font-size: 20px;
	margin-top: 40px;
}

.icon-social{
	margin-top: 20px;
}

.icon-social a{
	text-decoration: none;
	color: white;
	background-color: #4BBCDB;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	display: inline-block;
	margin: 0 10px;
	text-align: center;
}

.icon-social i{
	line-height: 40px;
}